/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap.min
 *= require_self
 */


/* Sass variables */

$basic-font-family: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
$theme-color: green;
$program-metrics-line-height: 2.3;

/* Sass mixins */

@mixin rounded-corners($radius: 5px){
	border-radius: $radius;
	-moz-border-radius: $radius; 
	-webkit-border-radius: $radius;  

}

/* generic styles */
body {
	background-color: white;
	font-family: $basic-font-family;
	font-size: 14px;
	color: #333;
}

.main_background {
	background-image: url("main_background2.png");
	background-size: 100%;
	background-position: 50% 25%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/* Header styles */

.navbar{
	margin-bottom: 0;
}
#navbar_style_adj {
	background-image: none;
	background-color: $theme-color;
	border: none;
}

.navbar-inner {
	.brand{
	font-family: 'Pathway Gothic One';
	font-size: 25px;
	letter-spacing: 1px;
	text-transform: uppercase
}
}

.navbar-inner .brand, .navbar #navbar_links li a {
	color: white;
	text-shadow: none;
}
/* Main content styles */

.home_heading{
	margin-top: 20%;
}

.home_heading h1 {
	font-size: 66px;
	font-family: 'Pathway Gothic One', Helvetica, Arial, sans-serif;
	color: white;
	text-transform: uppercase;
	text-shadow: #444 0.05em 0.05em 0.05em;
}

.home_heading span{
	color: #24961A;
	font-size: 66px;
}

.program_institution_name {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}

.program_metrics{
	display: inline-block;
	margin-top: 30px;
	padding: 15px 25px 15px 0;
	@include rounded-corners(7px);
	border: 1px solid #DBDBDB;
	width: 60%;
	font-weight: bold;
	color: #535353;
	li {
		line-height: $program-metrics-line-height;
	}
	.program_general_stats li{
		line-height: $program-metrics-line-height * 1.7;
	}
}



.program_general_stats {
	float: left;
	span {
	color: $theme-color;
	font-size: 18px;
	}	
}

.program_rating_stats {
	float: right;
	padding-left: -10px;
	#overall_rating {
		font-size: 20px;
		font-weight: bold;
		color: #535353;
	}
	.star_rating_yellow {
		background-position: 0px 0px;
		background-repeat: no-repeat;
		width: 240px;
		height: 42px;
		background-size: 94%;
		background-image: url("../../assets/stars-yellow.png");
	}
	.star_rating_blue {
		background-position: 0px 0px;
		background-repeat: no-repeat;
		width: 240px;
		height: 24px;
		background-size: 55%;
		background-image: url("../../assets/stars-blue.png");

	}
	.star_rating_green {
		background-position: 0px 0px;
		background-repeat: no-repeat;
		width: 240px;
		height: 24px;
		background-size: 55%;
		background-image: url("../../assets/stars-green.png");

	}
	.star_rating_red {
		background-position: 0px 0px;
		background-repeat: no-repeat;
		width: 240px;
		height: 24px;
		background-size: 55%;
		background-image: url("../../assets/stars-red.png");

	}
}

.program_gallery {
	margin-top: 30px;
	@include rounded-corners(5px);
	border: 1px solid silver;
	height: 200px;
	width: 300px;
	float: right;
	img{
		width: 100%;
	}
}

/* Footer styles */