/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap.min
 *= require_self
 */

/* generic styles */
body {
	background-color: white;
	font-family: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

.main_background {
	background-image: url("main_background.jpg");
	background-size: 100%;
	background-position: 50% 20%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/* Header styles */
#navbar_style_adj {
	background-image: none;
	background-color: green;
	border: none;
}

.navbar-inner .brand {
	font-family: 'Pathway Gothic One';
	font-size: 25px;
	letter-spacing: 1px;
	text-transform: uppercase
}

.navbar-inner .brand, .navbar #navbar_links li a {
	color: white;
	text-shadow: none;
}
/* Main content styles */

.home_heading{
	margin-top: 20%;
}

.home_heading h1 {
	font-size: 66px;
	font-family: 'Pathway Gothic One', Helvetica, Arial, sans-serif;
	color: white;
	text-transform: uppercase;
}

.home_heading span{
	color: green;
	font-size: 66px;
}

.program_institution_name {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}

.program_metrics{
	margin-top: 30px;
	padding: 15px 25px 15px 0;
	border-radius: 5px 5px 5px 5px; 
	border: 1px solid #DBDBDB;
	width: 60%;
}

.program_metrics li {
	line-height: 2.0;
}

.program_general_stats {
	float: left;
}

.program_general_stats span{
	color: green;
	font-size: 18px;
}
.program_rating_stats {
	float: right;
	padding-left: -10px;
}
/* Footer styles */